.gadget.UserWalletAddresses {
	padding: 1rem 2rem;
	border-radius: 4px;
	border: 1px solid var(--border-color-btn-outline);
	font-family: var(--font-family);

	.UserWalletAddresses--address-box {
		max-height: 64px;
		overflow-y: auto;

		.UserWalletAddresses--address-box--item {
			&:not(:first-child) {
				margin-top: 1rem;
			}

			.UserWalletAddresses--address {
				font-size: 1.5rem;
				max-width: 100px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.gadget.UserWalletAddresses.empty {
	padding-top: 0px;
	padding-bottom: 0px;
	gap: 0px !important;
}

.gadget.UserWalletAddresses.edit {
	.UserWalletAddresses--address-box {
		.UserWalletAddresses--address-box--item {
			&:not(:first-child) {
				margin-top: 0px;
			}
		}
	}
}
