#RankedPending {
	* {
		font-family: var(--font-family);
	}

	.MuiGrid-item {
		padding-top: 0;
	}

	.card-header {
		background-color: unset;
		border-bottom: none;
	}
	.header {
		padding-bottom: 2rem;
		.title_wrapper {
			#title {
				color: white;
				padding: 0;
				margin-bottom: -2rem;
				font-size: 3rem;
				text-transform: uppercase;
				font-family: 'Butter Haunted';
			}
		}
	}
	.body {
		.grid-row {
			margin-bottom: 1rem;
			.row-item {
				width: 100%;
				margin-bottom: 1rem;

				&.proposal-question-answer {
					background-color: transparent;
					border: 1px solid #2b2b2b;
					border-radius: 16px;
					margin-bottom: 0px;
					padding-left: 24px;
					padding-right: 24px;
					padding-bottom: 24px;
				}
				.card {
					border-radius: 16px;
					background-color: transparent;
					border-color: #2b2b2b;
					height: 100%;
					.card-body {
						.card-text {
							font-size: 20px;
						}
					}
				}

				&.information {
					.card {
						.card-header {
							padding-top: 2rem;
							font-size: 20px;
							margin-bottom: 1rem;
							border-bottom: 1px solid rgba(255, 255, 255, 0.5);
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
