.widget.ChipButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--main-background-light);
	border: none;
	padding: 1rem;
	border-radius: 4px;

	.label {
		color: white;
		font-family: var(--font-family);
		font-size: 1.5rem;
	}
}
