.SendEmailVerificationDialog {
	font-family: var(font-family);

	text-align: center;

	.title {
		font-size: 1.5rem;
	}

	.countdown {
		font-size: 1.25rem;
	}

	.recaptcha {
		display: flex;
		justify-content: center;
	}
}
