.empty-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 250px;
    height: 310px;
    .logo {
        width: 80%;
        opacity: 10%;
    }
}
