.widget.OutlinedButton {
	//Fonts
	color: white;
	font-family: var(--font-family);
	font-size: 1.5rem;
	padding: 0.75rem 2rem;
	background-color: var(--background-color-btn-outline);
	border: 1px solid var(--border-color-btn-outline);
	border-radius: var(--border-radius);

	&:hover:not(:disabled) {
		border-color: var(--border-color-btn-outline-hover);
	}

	&:disabled {
		opacity: 0.8;
	}

	&.small {
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
	}
}
