.widget.NftOfferCard {
	padding: 16px 12px;
	display: inline-block;
	background-color: var(--color-card-background);
	text-decoration: none;
	color: white;
	font-family: var(--font-family);
	font-size: 1.5rem;
	border: 1px solid var(--border-color-divider);
	border-radius: var(--border-radius-card);

	.nftOfferCard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;
		text-align: center;
		margin-bottom: 1rem;

		.offer {
			.offer-wrapper {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 0.5rem;
				.offer-value {
					word-break: break-all;
					.usd {
						margin-left: 0.5rem;
						font-size: 1.1rem;
						color: var(--color-text-secondary);
					}
				}
			}
		}
	}

	.nftOfferCard-body {
		padding-top: 1rem;
		border-top: 1px solid var(--border-color-divider);

		.offered-nft {
			margin-bottom: 1rem;
		}

		.widget.OutlinedButton {
			width: 100%;
		}
	}
}
